
@hintergrund:     black;    // schwarz
@akzent:          #b30000;  // rot
@oben:            #555657;  // Hintergrund dezent, wenn viel Text darauf geschrieben 
@buttonfarbe:     spin(@hintergrund, 100);  
@buttonhover:     contrast(@buttonfarbe);  //Gegenteil 


// Background color for the top bar
//$topbar-bg-color: blue; 
//$topbar-bg: yellow;

// je nach Hintergrund wird automatisch die Schriftfarbe 
// auf schwarz oder weiss gesetzt



body {
  background-color: @hintergrund;
  color: contrast(@hintergrund);
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative; }

 

//.oben
//{
//  background-color: @oben !important;  
//  color: contrast(@oben) !important;
//}

//.top-bar { .oben; }
//.top-bar-section li:not(.has-form) a:not(.button){
//  .oben;
//}

//.top-bar-section li.hover > a:not(.button) {
//      background-color: @akzent;
//      color: black; }


footer{
  text-align: center;
  width: 100%;
  height: 8%;
  
  p {
    color: contrast(@oben);
    background-color: @hintergrund;
  }
  a {
    color: @oben; }
    background-color: @hintergrund;
 
 }  
  

.panel-kontrast{
  background-color: @akzent;
  color: contrast(@akzent);
  padding: 5%;
  padding-top:0;
  border: transparent;
  width: 100%;
  text-align: center;
  margin: 0; 

  h1 {
      color: @buttonhover;} 
   h3 { 
      color: saturate(contrast(@akzent), 10%);} 
}

.panel-weiss{
  background-color: weiss;
  color: schwarz;
  
}



.panel-lesbar{
    background-color: @oben;
    color: contrast(@oben);
    padding: 5%;
    padding-top:0;
    border: transparent;
    width: 100%;
    text-align: center;
    margin: 0; 
   h1 {
      font-family: Helvetica, sans-serif;
      font-size: 2em;
      font-weight: 100;  } 
   h3 { 
      font-family: Helvetica, sans-serif;
      font-size: 1.7em; 
      font-style: oblique;} 
   a {
      /*
      background-color: darken(@oben,50%);       
      color: contrast(darken(@oben, 50%));*/
      background-color: @buttonfarbe; 
      color: contrast(@buttonfarbe);

    }
   p {
      font-size: 1em; 
      color: contrast(@oben);}  }
.arrow_down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    padding: 0;
    margin: 0 auto 0 auto;
    border-top: 20px solid @oben; }

.schrift {
    text-align: center;  
}

.gedanken
{
  padding-left: 15%;
  padding-right: 10%;
  padding-top:5%;
  padding-bottom: 5%;
  
  background-image: url("../img/zitat.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: left;  
  
  //background-color: @akzent; 
  //color: contrast(contrast(@akzent));
  font-family: arial;
  font-style: italic;
  font-size: 1.2em;
  text-align: left;
}

.gedanken_mittel
{
  padding-left: 15%;
  padding-right: 10%;
  padding-top:5%;
  padding-bottom: 5%;
 
  background-image: url("../img/zitat.png");
  background-size: 70px 70px;
  background-repeat: no-repeat;
  //background-position: left; 
  background-position: left;
  
  //background-color: @akzent; 
  //color: contrast(contrast(@akzent));
  font-family: arial;
  font-style: italic;
  font-size: 1.2em;
  text-align: left;
}

.erzaehlung
{
  background-color: contrast(@hintergrund); 
  color: @hintergrund;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.7em;
  text-align: left; 
   p {
      font-size: 1em; 
   }
}

.button
{
background-color: @buttonfarbe;
color: contrast(@buttonfarbe);
box-shadow: 0px 5px 0px lighten(@buttonfarbe, 10%);
.hover
{
  background-color: @buttonhover;
}
}

.top-bar-section ul li > a.button {
           background-color: #ff33cc;
}




